# DataFrameのIteration

In [1]:
import numpy as np
import pandas as pd

## .apply()
関数を各行に適用（apply）する

In [11]:
df = pd.read_csv('archive/tmdb_5000_movies.csv')

In [3]:
# revenue - budget
df.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [6]:
# return_nan_if_zero(0) -> nan
# return_nan_if_zero(100000) -> 100000
def return_nan_if_zero(budget):
    
    if budget == 0:
        return np.nan
    else:
        return budget
    

return_nan_if_zero(0)

nan

In [7]:
# apply()
# budgetカラムのseriesにapplyすれば
# 各budgetに対して関数を実行した値がseriesで返ってくる
df['budget'].apply(return_nan_if_zero)

0       237000000.0
1       300000000.0
2       245000000.0
3       250000000.0
4       260000000.0
           ...
4798       220000.0
4799         9000.0
4800            NaN
4801            NaN
4802            NaN
Name: budget, Length: 4803, dtype: float64

In [9]:
df['budget'] = df['budget'].apply(return_nan_if_zero)

0       237000000.0
1       300000000.0
2       245000000.0
3       250000000.0
4       260000000.0
           ...
4798       220000.0
4799         9000.0
4800            NaN
4801            NaN
4802            NaN
Name: budget, Length: 4803, dtype: float64

In [12]:
'''
def return_nan_if_zero(budget):
    
    if budget == 0:
        return np.nan
    else:
        return budget
'''
x = lambda budget: np.nan if budget == 0 else budget

In [15]:
df['budget'] = df['budget'].apply(lambda budget: np.nan if budget == 0 else budget)
df['revenue'] = df['revenue'].apply(lambda revenue: np.nan if revenue == 0 else revenue)

In [16]:
df = df.dropna(subset=['budget', 'revenue'])

In [17]:
# profit = revenue - budget
df['profit'] = df.apply(lambda row: row['revenue'] - row['budget'], axis=1)

In [20]:
df.iloc[df['profit'].idxmax()]

budget                                                           2.37e+08
genres                  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
homepage                                      http://www.avatarmovie.com/
id                                                                  19995
keywords                [{"id": 1463, "name": "culture clash"}, {"id":...
original_language                                                      en
original_title                                                     Avatar
overview                In the 22nd century, a paraplegic Marine is di...
popularity                                                        150.438
production_companies    [{"name": "Ingenious Film Partners", "id": 289...
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                   2009-12-10
revenue                                                       2.78797e+09
runtime                                                               162
spoken_languages        [{"iso_639_1": "en", "name": "English"}, {"iso...
status                                                           Released
tagline                                       Enter the World of Pandora.
title                                                              Avatar
vote_average                                                          7.2
vote_count                                                          11800
profit                                                        2.55097e+09
Name: 0, dtype: object

## .iterrows()

In [22]:
next(df.iterrows())

(0,
 budget                                                           2.37e+08
 genres                  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
 homepage                                      http://www.avatarmovie.com/
 id                                                                  19995
 keywords                [{"id": 1463, "name": "culture clash"}, {"id":...
 original_language                                                      en
 original_title                                                     Avatar
 overview                In the 22nd century, a paraplegic Marine is di...
 popularity                                                        150.438
 production_companies    [{"name": "Ingenious Film Partners", "id": 289...
 production_countries    [{"iso_3166_1": "US", "name": "United States o...
 release_date                                                   2009-12-10
 revenue                                                       2.78797e+09
 runtime                                                               162
 spoken_languages        [{"iso_639_1": "en", "name": "English"}, {"iso...
 status                                                           Released
 tagline                                       Enter the World of Pandora.
 title                                                              Avatar
 vote_average                                                          7.2
 vote_count                                                          11800
 profit                                                        2.55097e+09
 Name: 0, dtype: object)

In [23]:
a, b = next(df.iterrows())

In [24]:
a

0